h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.display-1 {
  font-weight: 700;
  font-size: 64px;
}

.display-2 {
  font-weight: 700;
  font-size: 54px;
}

.display-3 {
  font-weight: 700;
  font-size: 44px;
}
