.no-margen {
  margin: 0;
}
.no-margen-superior {
  margin-top: 0;
}
.no-margen-inferior {
  margin-bottom: 0;
}
.no-margen-izquierdo {
  margin-left: 0;
}
.no-margen-derecho {
  margin-right: 0;
}

.margen-inferior {
  margin-bottom: 20px;
}
.margen-superior {
  margin-top: 20px;
}

.texto-centrado {
  text-align: center;
}
.texto-izquierda {
  text-align: left;
}
.texto-derecha {
  text-align: right;
}
